@import "../../utilities/_variables";

.RecepieCardContainer {
  width: 82vw;
  height: 88vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  overflow: scroll;
  justify-items: center;
  color: $TextColor;

  .recepieCard {
    margin: 0.5rem;
    width: 26vw;
    height: 97%;
    max-height: 37vh;
    background-color: $mainSecondary;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    .recepieImg {
      margin-top: 1rem;
      width: 15vw;
      border-radius: 20px;
    }

    .recepieTitle {
      margin: 0 3rem;
    }
  }
}

@media (max-width: 1400px) {
  .RecepieCardContainer {
    .recepieCard {
      width: 25vw;
    }
  }
}

@media (max-width: 1100px) {
  .RecepieCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .recepieCard {
    margin: 0.5rem;
    width: 35vw !important;
    max-height: 40vh;
    .recepieImg {
      width: 20vw !important;
    }
  }
}

@media (max-width: 850px) {
  .RecepieCardContainer {
    width: 100vw;
  }
  .recepieCard {
    width: 40vw !important;
    max-height: 40vh;
    .recepieImg {
      width: 20vw !important;
    }
  }
}

@media (max-width: 550px) {
  .RecepieCardContainer {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    left: -5vw;
    z-index: 0;
  }
  .recepieCard {
    width: 80vw !important;
    max-height: 60vh !important;
    .recepieImg {
      width: 60vw !important;
    }
  }
}
