* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  height: 6vh;
  background-color: rgb(199, 95, 25);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 1rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
