@import "../../utilities/_variables";

.headerContainer {
  height: 6vh;
  background-color: $mainSecondary;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  .logo {
    a {
      text-decoration: none;
      color: $blackText;
      font-family: "Dancing Script", cursive;
      font-size: 20px;
    }
  }
}
